body {
    margin: 100px;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}
h1 {
  font-size: 250%;
  margin-bottom: 0;
  color: red;
}
p {
  font-size: 20px;
}
pre {
  line-height: 1.6;
  padding-top: 50px;
}

